name: simpleapp

on: [workflow_call]

jobs:
  deploy-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt update -y
          sudo apt install -y curl podman

      - name: Install minikube
        run: |
          curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube_latest_amd64.deb
          sudo dpkg -i minikube_latest_amd64.deb

      - name: Install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      - name: Start minikube with Podman
        run: minikube start --driver=podman

      - name: Verify minikube status
        run: minikube status

      - name: Create Deployment
        run: kubectl create deployment simpleapp --image=ghcr.io/mosakrm0/simpleapp --replicas=3

      - name: Expose deployment
        run: kubectl expose deployment simpleapp --port=80 --target-port=5000 --type=LoadBalancer

      - name: Wait for pods to be ready
        run: |
          sleep 10
          kubectl get all
