name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
    - name: Login to Docker
      run: echo $DOCKERHUBT | docker login --username DOCKERUSER --password-stdin
    - name: Push to Docker
      run: docker push mosakrmoov/mosakrmoov


